// 폰트
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


$posh: 'Courgette', cursive;
$eng: 'Libre Baskerville', serif;
$kor: 'Noto Sans KR', sans-serif;
// 영문 필기체
// font-family: 'Courgette', cursive;
// 깔끔한 영문 글씨
// font-family: 'Libre Baskerville', serif;
// 한글 폰트
// font-family: 'Noto Sans KR', sans-serif;
